.gallery__container {
	position: relative;
}

.gallery__animation-rotate {
	position: absolute;
	top: -150px;
	right: -150px;
	width: 350px;
	height: 350px;

	@media (max-width: 768px) {
		display: none;
	}
}

.gallery__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	margin: 0;
	padding: 0;
	list-style-type: none;
	gap: var(--indent);

	& li {
		border: 1px solid currentColor;
	}

	& img {
		width: 300px;
		height: 340px;
		object-position: center;

		@media (min-width: 990px) {
			filter: grayscale(75%);
			transition: filter 0.25s ease-in-out;

			&:hover {
				filter: grayscale(0);
			}
		}
	}
}
