.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	color: #fff;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: #171717;
	}
}

.header__container {
	display: flex;
	align-items: center;
}

.header__link {
	margin-left: auto;
}
