.hero {
	position: relative;
	padding-top: var(--header-height);
	padding-bottom: 0;
	color: #ffffff;
	background-color: #3e1f05;
	background-image: url(../../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.hero__container {
	position: relative;
	padding-bottom: calc(var(--indent) * 2);

	@media (max-width: 445px) {
		&::before {
			display: none;
		}
	}

	@media (min-width: 445px) {
		display: grid;
		align-items: center;
		grid-template-columns: 50% 1fr;
	}

	@media (min-width: 1000px) {
		min-height: 470px;
	}

	&::after {
		content: '';
		display: block;
		height: 130%;
		background-image: url(../../img/hero-img.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;

		@media (max-width: 1000px) {
			background-position: center bottom;
		}

		@media (min-width: 1000px) {
			height: 100%;
		}
	}
}

.hero__title {
	letter-spacing: 2px;
	text-wrap-style: balance;
}
