.hero {
	position: relative;
	padding-top: var(--header-height);
	padding-bottom: 0;
	color: #ffffff;
	background-color: #3e1f05;
	background-image: url(../../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.hero__container {
	position: relative;
	padding-bottom: calc(var(--indent) + 14vw);

	@media (max-width: 445px) {
		&::before {
			display: none;
		}
	}

	@media (min-width: 1000px) {
		padding-bottom: 160px;
	}

	&::before {
		content: '';
		position: absolute;
		right: 0;
		bottom: var(--indent);
		width: 50%;
		height: calc(100% - var(--indent));
		background-image: url(../../img/hero-img.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;

		@media (min-width: 600px) {
			width: 55%;

			@media (max-width: 1000px) {
				background-position: center bottom;
			}
		}
	}
}

.hero__title {
	width: 290px;
	letter-spacing: 2px;
	text-wrap-style: balance;

	@media (min-width: 768px) {
		width: 320px;
	}

	@media (min-width: 890px) {
		width: 375px;
	}

	@media (min-width: 1000px) {
		width: 470px;
	}
}
