.icon-link {
	display: inline-flex;
	align-items: center;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;

	&::before {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		margin-right: var(--indent);
		background-image: linear-gradient(135deg, #3e1f05, #6a4e26, #c29c63, #d4b383);
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
	}

	&--telegramm::before {
		mask-image: url(../../img/telegram.svg);
	}
}
