.input {
	box-sizing: border-box;
	height: 44px;
	padding: 12px 15px;
	font-size: inherit;
	line-height: 1;
	font-family: inherit;
	color: inherit;
	background-color: #fff;
	border: 1px solid #bbb;
	border-width: 0;
	border-radius: 6px;
}
